<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="PLC_IP" value="192.168.0.1"/>
		<add key="PLC_RACK" value="0"/>
		<add key="PLC_SLOT" value="1"/>
	</appSettings>
</configuration>