.dark-back {
    background-color: #0b062c;
}

.med-back {
    background-color: #0e0831;
}

.lighter-back {
    background-color: #37336d;
}

.border-lighter {
    border-width: 2px;
    border-style: solid;
    border-color: #474382;
};